#content-block-div {
    margin-top: 25px;
}

div #content-block-div {
    min-height: 85% !important;
}

.space-block {
    padding-bottom: 10px;
}

table {
    border: 1px solid black;
}

.container {
  width: 80%;
  height: 200px;
  margin: auto;
  padding: 10px;
}

.left-product-div {
  width: 25%;
  height: 200px;
  float: left;
}

.right-product-div {
  margin-left: 25%;
  height: 200px;
}

#login_column {
    padding-right: 50px;
}

#signup_column {
    padding-left: 50px;
    border-left: 1px solid black;
}

.favorite-star {
    width: 32px;
    height: 32px;
}
