<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title>Price History</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="navbar-nav mr-auto">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
    </div>
</nav>

<div class="hero-body">
    <div id="content-block-div" class="container has-text-centered">
        <script>
            function redirect() {
               window.location.href="/products/" + document.getElementById("productSearch").value;
            }
        </script>

        <h3>Search for Products:</h3>
        <form id="my-form" onsubmit="redirect(); return false" method="get" action="" >
            <input id="productSearch" type="search" name="q" placeholder="grapes" value="{{ search_query }}" onfocus="var temp_value=this.value; this.value=''; this.value=temp_value" autofocus required>
            <input type="submit">
        </form>
        <p></p>

        {% block content %}
        {% endblock %}
    </div>
</div>
</section>
</body>

</html>