{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    <script>
        function redirect() {
           window.location.href="/products/" + document.getElementById("productSearch").value;
        }
    </script>

    <h1>Search for Products:</h1>
    <form id="my-form" onsubmit="redirect(); return false" class="w3-center w3-padding-16" method="get" action="" >
        <input id="productSearch" type="search" name="q" placeholder="Grapes" autofocus required>
        <input type="submit">
    </form>
{% endblock %}
