{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

{% if variable != None %}
<p><img src="{{ product_image_url }}"></p>
{% endif %}
<h2>{{ product_display_name }}</h2>

<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('myChart');

    const data = {
        labels: {{ dates | safe }},
        datasets: [
          {
            label: 'Dataset',
            data: {{ prices }},
            fill: false,
            stepped: true,
          }
        ]
      };

  const decimals = 2;

    const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          interaction: {
            intersect: false,
            axis: 'x'
          },
          scales: {
              y: {
                beginAtZero: true,
                grace: "100%",
                ticks: {
                  // Include a dollar sign in the ticks
                  callback: function(value, index, values) {
                      return '$' + value.toFixed(decimals);
                }
              }
              },
          }
        }
      };

    new Chart(ctx, config);
</script>

{% endblock %}
